html, body {
	position: relative;
	width: 100%;
	height: 100%;
    font-family: 'Roboto', 'Noto Sans JP';
}
body{
    background-color: #1e1e1e;
    color: #ffffff;
    margin:0;
}
body::-webkit-scrollbar{
    width: 12px;
    background-color: #1e1e1e;
}
body::-webkit-scrollbar-track{
    border-radius: 3px;
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    border-radius:5px;
    background-color:#a5a5a5;
}
div{
    line-height: 1em;
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1em;
}