html, body {
	position: relative;
	width: 100%;
	height: 100%;
    font-family: 'Share Tech Mono','Zen Kaku Gothic New';
}
body{
    background-color: #ffffff;
    color: #000000;
    margin:0;
}
.body::-webkit-scrollbar{
    background-color:#ffffff;
    width:10px;
    height:10px;
}
.body::-webkit-scrollbar-corner{
    background-color:transparent;
}
.body::-webkit-scrollbar-thumb{
    background-color:#c1c1c1;
}
.body::-webkit-scrollbar-button{
    background-color:#c1c1c1;
    height:10px;
}
div{
    line-height: 1em;
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1em;
}